<h1>Add New Product</h1>

<form action="/products" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <select name="product[category_id]">
        <% @categories.each do |c| %>
            <option value="<%= c.id %>"><%= c.name %></option>
        <% end %>
    </select>

  <p>
    <label for="name">Name:</label>
    <input type="text" name="product[name]" />
  </p>

  <p>
    <label for="description">Description:</label>
    <input type="text" name="product[description]" />
  </p>

  <p>
    <label for="price">Price:</label>
    <input type="number" step="any" name="product[price]" />
  </p>

  <p>
    <input type="submit" value="Create" />
  </p>
</form>
