<% @main_heading = "Sign Up" %>

<% content_for :head do %>
    <title><%= @main_heading %></title>
<% end %>

<h1><%= @main_heading %></h1>

<% if defined?(@errors) %>
  <% @errors.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>

<form id="login-new-form" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <p>
    <label for="email">Email:</label>
    <input type="text" name="user[email]" />
  </p>
  <p>
    <label for="name">Name:</label>
    <input type="text" name="user[name"] />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="user[password]" />
  </p>
  <p>
    <label for="password_confirmation">Password Confirmation:</label>
    <input type="password" name="user[password_confirmation]" />
  </p>
  <p>
    <input type="submit" value="Sign Up" />
  </p>
</form>

<p><a href="/sessions/new">Existing User Sign In</a></p>
