<h1><%= @title %></h1>

<ul>
    <% @users.reverse_each do |u| %>
        <li><a href="/users/<%= u.id %>"><%= u.first_name %> <%= u.last_name %></a></li>
    <% end %>
</ul>

<p>&nbsp;</p>

<form action="/sessions" method="post">
  <input type="hidden" name="_method" value="delete" />
  <p><input type="submit" value="Sign Out" /></p>
</form>

<p><a href="/users/new">&raquo; Add a New User</a></p>