<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Photos of Cars</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>

<div id="wrapper">

    <h1>Photos of Cars</h1>

    <p><img src="car1" alt="car 1" width="600" height="300"/></p>
    <p><img src="car2" alt="car 2" width="600" height="300"/></p>
    <p><img src="car3" alt="car 3" width="600" height="300"/></p>
    <p><img src="car4" alt="car 4" width="600" height="300"/></p>


</div>


</body>
</html>