<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add a New Car</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>

<div id="wrapper">

    <h1>Add a New Car</h1>

    <form action="#" method="post">
        <p><label for="model">Car Model:</label><input type="text" name="model"/></p>

        <p><label for="make">Car Make:</label><input type="text" name="make"/></p>

        <p><label for="year">Car Year:</label><input type="text" name="year"/></p>

        <p><input type="submit" value="Submit"/></p>
    </form>

</div>


</body>
</html>