<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Photos of Cats</title>
    <link rel="stylesheet" href="styles.css"/>

</head>
<body>

<div id="wrapper">

    <h1>Photos of Cats</h1>

    <p><img src="cat1" alt="cat 1" width="600" height="300"/></p>
    <p><img src="cat2" alt="cat 2" width="600" height="300"/></p>
    <p><img src="cat3" alt="cat 3" width="600" height="300"/></p>
    <p><img src="cat4" alt="cat 4" width="600" height="300"/></p>

</div>

</body>
</html>