<!doctype>
<html>
<head>
    <title>All Projects</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>

<div id="wrapper">

  <h1>All Projects</h1>

  <ul id="projects-list">
    <% @projects.reverse.each do |p| %>
        <li><strong>Name:</strong> <%= p.name %><br /><strong>Description:</strong> <%= p.description %><br />
          <a href="/projects/<%= p.id %>">&raquo; Show Project</a></li>
    <% end %>
  </ul>

  <p>&nbsp;</p>

  <p class="important"><a href="/projects/new">&raquo; Add New Project</a></p>

</div>

</body>
</html>