<% @main_heading = "Sign In" %>

<% content_for :head do %>
    <title><%= @main_heading %></title>
<% end %>

<h1><%= @main_heading %></h1>

<% if flash[:notice] %>
    <div class="error">
      <p><%= flash[:notice] %></p>
    </div>
<% end %>

<form id="login-new-form" action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <p>
      <label for="email">Email:</label>
      <input type="text" name="email" />
    </p>
    <p>
      <label for="password">Password:</label>
      <input type="password" name="password" />
    </p>
    <p>
      <input type="submit" value="Sign In" />
    </p>
</form>

<p><a href="/users/new">New User Sign Up</a></p>
