<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script type="text/javascript">
        $(function() {
           // triggers the connect event in our server!
           var socket = io.connect();

            // we'll write all the socket stuff after the above line!
        });
    </script>
    <title>Socket.io Node Package Test</title>
</head>
<body>

    <h1>Socket.io Node Package Test</h1>

    <button>I am a button!</button>

</body>
</html>