<html ng-app="friends_app">
<head>
    <title>Full Mean Demo</title>
    <!-- require angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript">
        // Lets create our angular module
        var friends_app = angular.module('friends_app', []);

        // create the FriendFactory and pass in the "$http" service/function
        friends_app.factory('FriendFactory', function($http) {
            var factory = {};
            var friends = [];
            factory.getFriends = function(callback) {
                // the "$http" service is a function that takes a single argument
                // that is used to generate an HTTP request and
                // returns a promise with two "$http" specific methods:
                // - "success"
                // - "error"

                // A "promise" uses asynchronous javascript,
                // which is JS that can execute after other code have executed.
                // It also represents a future value which will be returned later
                // from the single completion of an operation.

                // The '$http.get("/friends")' code below is the promise which will
                // return an object later in the code.

                // For example the "friends" variable below is currently defined as
                // "var friends = [];" but will be redefined later in this code as:
                // $scope.friends = [{name: "Michael", age: 34}, {name: "Andrew", age: 24}];

                // In all JS libraries/frameworks promised use a syntax similar to:
                // Promise.success().error();, Promise(success, error) OR
                // more generally a promise followed by an a success parameter or value and an
                // optional error parameter or value
                $http.get("/friends").success(function(output) {
                    friends = output;
                    callback(friends);
                });
            };
            // note the use of callbacks!
            factory.addFriend = function(info, callback) {
                friends.push({name: info.name, age: info.age});
                callback(friends);
            };
            return factory;
        });


        // Now lets create a controller with some hardcoded data!
        friends_app.controller('FriendsController', function($scope, FriendFactory) {

            FriendFactory.getFriends(function(data) {
                $scope.friends = data;
            });

            $scope.friends = [{name: "Michael", age: 34}, {name: "Andrew", age: 24}];

            $scope.addfriend = function() {
                FriendFactory.addFriend($scope.new_friend, function() {


                    FriendFactory.getFriends(function(data) {
                        $scope.friends = data;
                        console.log("New Friend Added:", $scope.friends);
                    });
                    $scope.new_friend = {};

                });

            };
        });
    </script>
</head>
<!-- everything in the body is going to use the friends controller (this gives us access to the friends controller $scope) -->
<body ng-controller="FriendsController">
<h1>Friends</h1>
<input type="text" ng-model="filter_name" placeholder="filter">
{{filter_name}}
<ul>
    <!-- here is where we are going to display friends -->
    <li ng-repeat="friend in friends | filter: filter_name">
        {{friend.name}}, {{friend.age}}
    </li>
</ul>
<h1>Add a Friend</h1>
<!-- objects and properties nothing scary -->
<input type="text" ng-model="new_friend.name" placeholder="name">
<input type="text" ng-model="new_friend.age" placeholder="age">
<!-- addfriend() is a method we are going to make in the angular controller -->
<input type="submit" ng-click="addfriend()">
</body>
</html>