<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongoose Package Test Form</title>
</head>
<body>

<h1>Mongoose Package Test Form</h1>

<form action="users" method="post">
    <p>Name: <input type="text" name="name"/></p>
    <p>Age: <input type="number" name="age"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

<h2><em>Users</em> Collection</h2>



</body>
</html>