<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Example Express Form</title>
</head>
<body>

<h1>My Example Express Form</h1>

<form action="/users" method="post">
    <p>Name: <input type="text" name="name"/></p>

    <p>Email: <input type="text" name="email"/></p>

    <p><input type="submit" value="Create User"/></p>
</form>

</body>
</html>